html {
  height: 100%;
}
body {
  text-align: center;
  background: #f4f4f2;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  min-height: 94%;
  margin:0;
}
#temperature {
  font-size: 50px;
}
img {
  display: block;
  margin: auto;
}
.in {
  background: #DEE4E6;
  text-align: right;
}
p.like, p.who {
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}
p.like {
  margin: 12px 6px 0 0;
  float: left;
}
p.who {
  float: left;
}
#log img {
  margin-top: 20px;
}
form.comments {
  display: flex;
}
.site {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.delete {
  color:red;
  border: 1px;
  cursor: pointer;
}
.table {
  width: 100%;
  table-layout: fixed;
  font-size: 11px;
}
.editData {
  cursor:pointer;
  color: red;
  ;
}
.off {
  border: 3px solid red;
}
.on {
  border: 3px solid #00ff48;
}
.table td, .table {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-wrap: break-word;
}
.data img {
  width: 50px;
  height: 50px;
}
.chatMessages {
  flex-basis: 100%;
  overflow: auto;
}
.container > div > p:first-child {
  margin:5px;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}
.chatContainer {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
}
.start {
  position: relative;
  background: #f4f4f2;
  margin: 40px auto;
  width: 80%;
  height: 370px;
}
.start #demo, #log {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: .25s ease;
}
.start #demo {
  background-color:#e8e8e8;
  left: 0;
}
#log {
  background-color:#bbbfca;
  background-position: right;
  right: 0;
}
#log:before {
  content: "OR";
  font-weight: bold;
  position: absolute;
  background: white;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  top: 150px;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
}
#log:after {
  content: " ";
  height: 280px;
  width: 1px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}
#log:after {
  right: 0;
}
.start #demo:hover {
  width: 55%;
}
.start #demo:hover + #log {
  width: 45%;
}
#log:hover {
  width: 55%;
}
#log:hover + #demo {
  width: 45%;
}
.start input, #login, #send {
  display: block;
  margin: auto;
}
.container {
  border: 2px solid #dedede;
  background-color: #FFFFFF;
  border-radius: 5px;
  position:relative;
}
.newWindow {
  border-radius: 9px;
  width: 200px;
  height: 250px;
  background: #FFFFFF;
  float: left;
  border: 1px solid black;
  margin: 1px;
  position: relative;
  left: 0;
}
.chatWindows {
  position: absolute;
  bottom: 0;
}
.mymessage {
  width: 80%;
}
#text {
  width: 65%;
}
.newWindow > div {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  background: white;
  margin: 25px auto 11px auto;
  text-align: left;
}
.newWindow > p:first-of-type {
  float: right;
  margin: -1px 5px 0 0;
  cursor: default;
  font-family: arial;
}
.newWindow > p:nth-of-type(2) {
  margin: 3px 0 0 5px;
  float: left;
}
.newWindow > div > p {
  font-size: 12px;
  padding: 2px;
  margin: 0;
}
.newWindow input {
  width: 80%;
  position: relative;
}
.user img {
  cursor: pointer;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img, .users img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container img {
  margin-right: 20px;
  float: left;
}
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
.users {
  flex-basis: 15%;
  max-height:500px;
  overflow: auto;
  margin: 60px 0 0 0;
  
}
.demo{
  flex-basis: 15%;
}
#mypage {
  flex-basis: 70%;
}
.user {
  padding:5px;
  
}
.chatBottom {
  flex-basis: 100%;
  margin: 10px;
}
.time-right {
  float: right;
  color: #aaa;
  font-size: 11px;
}

.time-left {
  float: left;
  color: #999;
}
.container p {
  text-align: initial;
font-weight: bold;
}
.users p:first-child {
margin: 0;
padding: 11px;
background-color: #dedede;
}
.user p {
  font-size: 12px;
  margin: 0;
}
.first img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  
  }
  
  .container > div > img {
  float: none;
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 0;
  }
  .wholikes {
    font-size: 10px;
    position: absolute;
    background-color: #e6ecf1;
    z-index: 1000;
    bottom: 0;
    left: 50px;
    padding:10px;
    border-radius: 5px;
  }
 
  .close {
    float: right;
    cursor: default;
  }
  .wholikes p {
    margin: 0 !important;
    padding: 0;
    font-size: 13px !important;
    text-align: left !important;
    font-weight: 100 !important;
    padding: 5px;
  }
  .container > div {
    position: relative;
  }
  .comment {
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    padding: 3px;
  }
  .comment p {
    font-size: 13px;
    font-weight: 100;
  }
  .comment img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  p.whois {
    font-weight: 900;
    float: left;
    margin: 6px 10px 0 7px;
  }
  p.time {
    text-align: end;
    color: #aaa;
    font-size: 11px;
  }
  img.out {
    border-radius: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    cursor: pointer;
    object-fit: contain;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 11px;
    }
  }
@media only screen and (max-width: 900px) {
  .demo p{
   margin: 0;
   font-size: 11px;
  }
 .demo img {
   width: 35px;
 }
 #temperature {
   font-size: 25px;
 }
  .newWindow {
    height: 370px;
    width: 250px;
   
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: 0;
  }
  .demo {
    position: absolute;
    top: 130px;
    right: 40px;
  }
  .chatWindows {
    position: relative;
  }
  .newWindow > div {
    height: 80%;
  }
  
  .site {
    flex-wrap: wrap;
  }
  #logout {
    top:115px;
  }
  #mypage > p:first-of-type {
    margin:0;
    
  }
  #demo, #log {
    flex-basis: 100%;
  }
  .chatMessages {
    flex-basis: 100%;
    margin-top: 10px;
    height: 400px;
}
#mypage {
  flex-basis: 100%;
}
.users {
  flex-basis: 100%;
  font-size: 12px;
  height: 100px;
  overflow-x: scroll;
  overflow-y: clip;
  display: flex;
  margin: 0;
}
#mypage > img:first-of-type {
  margin: 20px 0 0 0;
}
#text {
  width:90%;
}
.user {
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  width: 90px;
}
.users img {
margin:5px auto;
}
.start {
  height: 670px;
  width: 350px;
  margin: 0 auto;
}
  .start #demo, #log {
  width: 100%;
}
#log {
  top:370px;
}
.start #demo:hover {
  width: 100%;
}
.start #demo:hover + #log {
  width: 100%;
}
#log:hover {
  width: 100%;
}
#log:hover + #demo {
  width: 100%;
}
#log::after {
  height: 1px;
  width: 200px;
  top: 0;
  left: 75px;
}
img.out {
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 100px 0 !important;
}
#log::before {
  top:0;
  left:175px;
  z-index: 100;
}
#log p {
  margin-top: 25px;
}
.first img {
  margin: auto 35px;
}
.first p:first-child {
  text-align: start;
  margin-left: 35px;
}
#logout {
  top: 100px;
right: 10px;
}
}

